@page

<h1 style="color:blue;">Privacy Policy</h1>

<h2>Here is a sample web application created using .NET Core Razor template</h2>

<p>This is my custom HTML content inside Razor page.</p>

<button onclick="alert('Hello Sanjay!')">Click Me</button>